/*FORUM*/
table.forums { margin-bottom: 15px; }
nav.forums { margin: 0 0 10px 10px; }
fieldset.forums, fieldset.moderator  { margin: 0 10px 10px; padding:5px; }

ul.moder input[type=text], ul.moder select { width: 200px; }
ul.moder { list-style:none; }
.new-buttons, .all-read, .forum-read { text-align:right; margin:5px 10px 5px; }
.new-buttons { font-weight:bold; }

.fcathead { width:100%;height:30px;font-size:1.3em;margin-top:15px; }
.fcathead a { vertical-align:bottom;margin:5px;float:left; }
.fcathead a.toggle { float:right; }

.fcathide { background-color:lightgray; }

th.topics, th.posts { width:70px; }
td.topics, td.posts { text-align:center; }

.read { opacity:0.5; }
.new { cursor:pointer; }
a.active { font-weight:bold }

th.lastpost { width:32%; }

#posts .images > ul, #posts .files > ul { list-style-type:none }
#posts .images > ul > li { float:left; margin:10px; text-align:center; }
#posts .images > ul > li img { max-width:200px; }

#topic-status { text-align:center; padding:7px;margin:7px 0; display:none; border:1px gray dotted; }
#topic-status.ok { background-color:lightgreen; }
#topic-status.error { background-color:#f88; }
#topic-status.load { background-color:lightblue; }

#posts .post { margin:10px 0 10px; }
#posts .post .text img { max-width:500px; }
#posts .post tr.main > td { vertical-align:top; }
#posts .post tr.main > .edited { border:1px lightgray solid;padding:3px; }
#posts .post tr > th { width:155px; }
#posts .post tr > td > .ip { float:right; }
#posts .post tr > td.author { vertical-align:top; }
#posts .post tr > td.author div { text-align:center; }
#posts .post tr > td.author div img { max-width:100px;max-height:100px; }
#posts .post .text .fb-merged { display:block; margin:10px 0 10px; clear: both; }

#posts-mm-panel,#topics-mm-panel { float:right; text-align:right; }
#topic-mm-panel { float:left; }
fieldset.moderator  { width:260px; }

#post-buttons { text-align:center; font-size:20px; }